.error-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    padding-top: 150px;
}
.error-descr{
    display: block;
    font-size: 60px;
    border-bottom: 1px solid black;
}

.error-subdescr{
    padding: 20px;
    color: rgb(116, 116, 116);
}