$main-page-width: 1000px;

//$container-paddings: 20px;

@function toPerc($pixel-input, $pixelfrom: $main-page-weight) {
    @return math.div($pixel-input * 100%, $pixelfrom);
}

@mixin width-block($block-width, $max-width: $main-page-weight) {
    width: toPerc($block-width);
    max-width: $max-width;
}


.page{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__header{
    }
    &__main{
    }
}

.header{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;

    &__container{
        width: 100%;
        max-width: 80%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 20px 40px;

        border-bottom: 1px solid gray;
        border-radius: 0%;
        box-shadow:none;
    }
    &__page-title{
        cursor: pointer;
        font-size: 2em;
        text-decoration: none;
        color: black;
    }

}
.search-form{
    position: relative;
    left: 0;
    top:0;

    border-radius: 24px;

    padding: 8px 12px 8px 56px;

    padding-left: 2.5em;
    padding-right: 0.75em;

    border: 1px solid gray;

    &::before{
        content: "";

        position: absolute;
        transform: translate(-120%);
        width: 1.5em;
        height: 1.5em;



        background: url("./assets/icons/find.svg") center/contain no-repeat;
    }

    &__input{
        height: 1.5em;

        border: none;

        &:focus{
            outline: none;
        }
    }
}


.card{
    position: relative;
    left: 0;
    top:0;

    width: 32px;
    height: 32px;

    background: url("./assets/icons/i-cart-black-stroke.svg") center/contain no-repeat;
    &_active::before{
        content: "0";
        
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-35%, 35%);

        width: 1em;
        height: 1em;
        padding: 1px;

        border-radius: 50%;
        background-color: red;

        font-size: 0.75rem;
        text-align: center;
        vertical-align: middle;
    }
} 