.products {
    display: flex;
    flex-direction: column;
    width: 80%;
    &__sort{
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
    }
    &__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
        gap: 20px;
    }
}

.item__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item__wrapper{
    position: relative;
}


.item-card{
    display: flex;
    flex-direction: column;
    // border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;

    width: 250px;
    height: 320px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 6px 14px 0px rgb(0 0 0 / 50%);
    transition: all 0.2s;
    cursor: pointer;
    &:hover{
        transform: scale(1.02);
    }
}

.wrapper__title{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding-bottom: 10px;
    height: 30px;
}

.wrapper__img{
    overflow: hidden;
    width: 250px;
    
}


.wrapper__item-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5% 5% 0% 0%;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 30%);

    transition: all .3s;
    &:hover{
        background-color: rgb(211, 211, 211);
        opacity: 100%;
        cursor: pointer;
    }
}

.item__img{
    display: flex;
    width: 250px;
    height: 210px;
    text-align: center;
    background-size: cover;
}

.item__buttons{
    display: flex;
    gap: 15px;
    cursor: pointer;
    z-index: 1;
}

.buttons__add, .buttons__detail{
    display: flex;
    margin-bottom: 10px;
    width: 75px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(170, 51, 111);
    color: #fff;
    justify-content: center;
    align-items: center;
    bottom: 50px;  
    text-decoration: none; 
    border: none;      
    border-radius: 5px;      
    cursor: pointer;
}

.buttons__delete{

}

.search-form{
    position: relative;
    left: 0;
    top: -10px;

    border-radius: 24px;

    padding: 8px 12px 8px 56px;

    padding-left: 2.5em;
    padding-right: 0.75em;

    border: 1px solid gray;

    &::before{
        content: "";

        position: absolute;
        transform: translate(-120%);
        width: 1.5em;
        height: 1.5em;



        background: url("./assets/icons/find.svg") center/contain no-repeat;
    }

    &__input{
        height: 1.5em;

        border: none;

        &:focus{
            outline: none;
        }
    }
}