body{
    background-color: rgb(170, 51, 111);
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%; // Del
    padding: 20px 60px;
    // height: 1000px; // Del
    margin: 40px auto 40px auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    position: relative;
}

// component style

@import "./components/header.scss";
@import "./components/main-page.scss";
@import "./components/products.scss";
@import "./components/footer.scss";
@import "./components/filter.scss";
