body{
    background-color: rgb(170, 51, 111);
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%; // Del
    height: 1000px; // Del
    margin: 40px auto 40px auto;
    background-color: #fff;
    border-radius: 20px;
    .page{
        width: 100%;
    }
    .main-page{
        margin: 40px auto;
        width: 80%;
        height: 500px;
        padding: 20px;
        position: relative;
        &__box{
            width: 100%;
            height: 100%;
            padding: 40px;
            background-color: rgb(243 243 243); // const
            font-size: 40px;
            .btn{
                display: flex;
                position: absolute;
                width: 150px;
                height: 50px;
                font-size: 17px;
                background-color: rgb(170, 51, 111);
                color: #fff;
                justify-content: center;
                align-items: center;
                bottom: 50px;               
                cursor: pointer;

            }
        }
        .catalog{
            padding-top: 40px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 20px;
            &__item{
                padding-left: 20px;
                height: 200px;
                background-color: rgb(243 243 243);
                img{
                    padding-top: 10px;
                    height: 50px;
                }
                .wrapper-text{
                    padding-top: 40px;
                    .name-item{
                        font-size: 30px;
                        font-style:inherit ;
                    }
                    .decsr{
                        padding-top: 10px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
